{
email kanusdlp@gmail.com
on_demand_tls {
  ask node:3000/on_demand_tls
}
}
:443 {
  tls {
    ca https://acme-staging-v02.api.letsencrypt.org/directory
    dns cloudflare VGZPS3_PhtkEtm8Qvq1lnYH-F2hmXHlsojXV5o7q
    on_demand
 }
}

 *.webprofile.link {
  reverse_proxy node-app:3000
  tls {
    ca https://acme-staging-v02.api.letsencrypt.org/directory
    dns cloudflare VGZPS3_PhtkEtm8Qvq1lnYH-F2hmXHlsojXV5o7q
  }
}

http://*.webprofile.link {
  redir https://{host}{uri}
}

webprofile.link {
  reverse_proxy node-app:3000
  tls {
    ca https://acme-staging-v02.api.letsencrypt.org/directory
    dns cloudflare VGZPS3_PhtkEtm8Qvq1lnYH-F2hmXHlsojXV5o7q
  }
}

http://webprofile.link {
  redir https://{host}{uri}
}
